@font-face {
  font-family: "MggFont";
  src: url(SocialicoPlus-Plus.ttf) format('truetype');
}

.content{
  color: #2a2a2a;
}
button{
  background-color: black;
  cursor: pointer;
  color: #fff;
  border: 1px solid white;
  height: 30px;
}

button:hover{
  border: 1px solid black;
  color: black; 
  background-color: #fff;
}

.form-control {
  background-color: inherit;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding-left: 0;
}
.form-control:focus {
  background-color: inherit;
  color: #fff;
  box-shadow: none;
  border-color: #fff;
}
.btn {
  border-radius: 0;
  width: 100%;
  font-weight: bold;
}
.my-form p {
  color: gray;
  text-align: center;
}

.my-form p a {
  color: #e1e1e1;
  text-decoration: none;
}
.my-form p a:hover {
  color: #fff;
}

.my-form {
  padding: 2em;
  color: #fff;
  max-width: 55vh;
  margin-inline: auto;
}

h3{
  color: #FFF;
}

h2{
  font-family: 'Courier New', Arial;
  font-size: 18px;
  display: inline-block;
  word-spacing: 30px;
}
.socials{
  font-family: MggFont; 
  color: #FFF;
  font-size: 80px;
  display: inline;
  word-spacing: 30px;
}

@media screen and (max-width: 500px){
  body,
  .kolor,
  .yt,
  iframe,
  .my-form .bg-dark,
  .socials
  h1,
  h3
}

iframe:hover{
  opacity: 70%;
  cursor: pointer;
}

.kolor{
  color: white;
  background-color: black;
}

body {
  margin: 0;
  font-family: 'Courier New', Arial;
  background-color: black;
}

a {
  color: #fff;
  background: #2a2a2a ;
}

/* header */

.header {
  background-color: #2a2a2a;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: black;
}

.header .logo {
  display: block;
  float: left;
  background-color: #2a2a2a;
  font-size: 2em;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
